
{% load static %}
{}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>



</style>
</head>
<body>



{% comment %} <form class="example" action="search_code"  style="margin:auto;max-width:300px" >
        <input type="search" placeholder="Search" name="search_box" class="search"/>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>  {% endcomment %}

  {% comment %} <img src="images/originalPic.jpg" alt= "{% static 'download.jpg'%}">  {% endcomment %}
<form action="requsted_P">
                        <button type="submit" class="3_dios" value="dios" name="dios" >request</button>
                        </form>

 
{% comment %} <label for="file-upload" class="custom-file-upload">
    Custom Upload
</label>
<input id="file-upload"  name="myfile" type="file"/> {% endcomment %}

   



 
{% comment %} <script>
$('.new_Btn').click(function() {
  $('#html_btn').click();
});
</script> {% endcomment %}


</body>
</html>